{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h3>Remote Control Vehicle Details</h3>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{ rc.brand }} - {{ rc.model }}</h5>
      <p class="card-text">Description: {{ rc.description }}</p>
      <p class="card-text">Price: ${{ rc.price }}</p>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'rc_update' rc.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'rc_delete' rc.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
<div class="col-sm-6">
  <form action="{% url 'add_maint' rc.id %}" method="POST">
    {% csrf_token %}
    {{ maint_form.as_p }}
    <input type="submit" class="btn btn-success" value="Add Maintenance" />
  </form>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for maint in rc.maint_set.all %}
      <tr>
        <td>{{maint.date}}</td>
        <td>{{maint.get_action_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h3>{{ rc.model }}'s Compatible Battery</h3>
    {% if rc.batterys.count %}
      {% for battery in rc.batterys.all %}
        <div class="card">
          <div class="card-body">
            <span class="card-title">
              <span>Connector: {{ battery.Connector }}</span> 
              <span>MaH: {{ battery.MaH }}</span>
              <span>Cells: {{ battery.Cells }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_battery' rc.id battery.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No batteries</h5>
    {% endif %}
  </div>
  <!-- Available batteries will come after this line -->
  <div class="col-sm-6">
    <h3>Available batteries</h3>
    {% if batterys.count %}
      {% for battery in batterys.all %}
        <div class="card">
          <div class="card-body">
            <span class="card-title">
              <span>Connector: {{ battery.Connector }}</span> 
              <span>MaH: {{ battery.MaH }}</span>
              <span>Cells: {{ battery.Cells }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_battery' rc.id battery.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-info">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ rc.model }} Already Has All Available batteries</h5>
    {% endif %}
  </div>
</div>
  
{% endblock %}
