{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>About RC Collector</h1>
    <hr>

    <p>Welcome to RC Collector! We are a community of passionate remote control (RC) vehicle enthusiasts who love exploring the world of RC cars, trucks, boats, and more.</p>

    <p>Follow our adventures and discover the latest RC models, exciting races, and thrilling stunts on our Instagram page:</p>

    <a href="https://www.instagram.com/sacrcadventures/" target="_blank" class="btn btn-primary btn-danger">Follow us on Instagram</a>
  </div>
{% endblock %}